# folders
_ngo/
_xmsgs/
_xmsgs.old/
ipcore_dir/
iseconfig/
iseconfig.old/
xlnx_auto_0_xdb/
xst/

# instances
ledswitch*
!ledswitch.bin
!ledswitch.ucf
!ledswitch.vhd

# project
*.gise
*.gise.*

# files
par_usage_statistics.html
*webtalk*.*
